In [10]:
def my_sq(x):
    return x ** 2

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    'a' : [10, 20, 30],
    'b' : [20, 30, 40]
})

In [6]:
df

    a   b
0  10  20
1  20  30
2  30  40

In [14]:
df['a'].apply(my_sq)

0    100
1    400
2    900
Name: a, dtype: int64

In [15]:
def my_exp(x, e):
    return x ** e

In [16]:
my_exp(2, 10)

1024

In [17]:
df['a'].apply(my_exp, e=4)

0     10000
1    160000
2    810000
Name: a, dtype: int64

In [18]:
import numpy as np

In [19]:
def avg_3_numpy(col):
    return np.mean(col)

In [20]:
df.apply(avg_3_numpy)

a    20.0
b    30.0
dtype: float64

In [21]:
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [22]:
avg_2_mod_vec = np.vectorize(avg_2_mod)  #相量化函数

In [24]:
avg_2_mod_vec(df['a'], df['b']) #相量后的函数可以直接应用DataFrame

array([15., nan, 35.])

In [26]:
@np.vectorize             #同样的作用与上面
def avg_2_mod(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [27]:
avg_2_mod(df['a'], df['b'])  #现在可以逐个使用了

array([15., nan, 35.])

In [30]:
import numba

In [31]:
@numba.vectorize             #同样的作用与上面
def avg_2_mod_numba(x, y):
    if (x == 20):
        return np.NaN
    else:
        return (x + y) / 2

In [32]:
%%timeit
avg_2_mod(df['a'], df['b'])

65.2 µs ± 1.92 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [34]:
%%timeit
avg_2_mod_numba(df['a'].values, df['b'].values)

5.42 µs ± 97.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)