In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('max_columns', 8,'max_rows', 8)

In [3]:
movie = pd.read_csv('data/movie.csv')
movie.head()

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,...,12.0,7.1,NaN,0

In [5]:
columns = movie.columns
index = movie.index
data = movie.values

In [6]:
columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [7]:
index

RangeIndex(start=0, stop=4916, step=1)

In [8]:
index.values

array([   0,    1,    2, ..., 4913, 4914, 4915])

In [10]:
index.values[0]

0

In [11]:
columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes',
       'actor_2_name', 'actor_1_facebook_likes', 'gross', 'genres',
       'actor_1_name', 'movie_title', 'num_voted_users',
       'cast_total_facebook_likes', 'actor_3_name',
       'facenumber_in_poster', 'plot_keywords', 'movie_imdb_link',
       'num_user_for_reviews', 'language', 'country', 'content_rating',
       'budget', 'title_year', 'actor_2_facebook_likes', 'imdb_score',
       'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [13]:
columns.values[0:4]

array(['color', 'director_name', 'num_critic_for_reviews', 'duration'],
      dtype=object)

In [15]:
movie.dtypes

color                      object
director_name              object
num_critic_for_reviews    float64
duration                  float64
                           ...
actor_2_facebook_likes    float64
imdb_score                float64
aspect_ratio              float64
movie_facebook_likes        int64
Length: 28, dtype: object

In [19]:
movie.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
              ...
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [20]:
movie['director_name']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
              ...
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [21]:
director = movie.director_name
director.name

'director_name'

In [22]:
director.to_frame().head()

       director_name
0      James Cameron
1     Gore Verbinski
2         Sam Mendes
3  Christopher Nolan
4        Doug Walker

In [23]:
actor_1_fb_likes = movie.actor_1_facebook_likes

In [24]:
actor_1_fb_likes.head()

0     1000.0
1    40000.0
2    11000.0
3    27000.0
4      131.0
Name: actor_1_facebook_likes, dtype: float64

In [25]:
director.count()

4814

In [26]:
actor_1_fb_likes.count()

4909

In [27]:
actor_1_fb_likes.quantile() #中位分位數

982.0

In [28]:
actor_1_fb_likes.min(), actor_1_fb_likes.max(), \
actor_1_fb_likes.mean(), actor_1_fb_likes.median(),\
actor_1_fb_likes.std(), actor_1_fb_likes.sum()

(0.0, 640000.0, 6494.488490527602, 982.0, 15106.986883848185, 31881444.0)

In [29]:
actor_1_fb_likes.describe()

count      4909.000000
mean       6494.488491
std       15106.986884
min           0.000000
25%         607.000000
50%         982.000000
75%       11000.000000
max      640000.000000
Name: actor_1_facebook_likes, dtype: float64

In [30]:
director.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [31]:
actor_1_fb_likes.quantile(.2)

510.0

In [33]:
actor_1_fb_likes.quantile([.2, .3, .4, .5, .6, .7, .8, .9])

0.2      510.0
0.3      694.0
0.4      854.0
0.5      982.0
0.6     1000.0
0.7     8000.0
0.8    13000.0
0.9    18000.0
Name: actor_1_facebook_likes, dtype: float64

In [34]:
director.isnull()

0       False
1       False
2       False
3       False
        ...
4912     True
4913    False
4914    False
4915    False
Name: director_name, Length: 4916, dtype: bool

In [35]:
actor_1_fb_likes_filled = actor_1_fb_likes.fillna(0)  #填充缺失值

In [36]:
actor_1_fb_likes_filled.count()

4916

In [37]:
actor_1_fb_likes_dropped = actor_1_fb_likes.dropna() #刪除缺失值
actor_1_fb_likes_dropped.size

4909

In [38]:
director.value_counts(normalize = True) #返回出現的頻率

Steven Spielberg         0.005401
Woody Allen              0.004570
Clint Eastwood           0.004155
Martin Scorsese          0.004155
                           ...
Greg Coolidge            0.000208
Jean-Jacques Mantello    0.000208
Chuan Lu                 0.000208
Karey Kirkpatrick        0.000208
Name: director_name, Length: 2397, dtype: float64

In [39]:
director.hasnans #判斷是否有缺失值

True

In [40]:
director.notnull() #判斷是否是缺失值

0        True
1        True
2        True
3        True
        ...
4912    False
4913     True
4914     True
4915     True
Name: director_name, Length: 4916, dtype: bool

In [41]:
imdb_score = movie.imdb_score

In [43]:
imdb_score.astype(int).mod(5)

0       2
1       2
2       1
3       3
       ..
4912    2
4913    1
4914    1
4915    1
Name: imdb_score, Length: 4916, dtype: int64

In [44]:
director.value_counts().head(3) #計數，查看前三

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Name: director_name, dtype: int64

In [45]:
actor_1_fb_likes.isnull().sum() #統計缺失值

7

In [49]:
actor_1_fb_likes.fillna(0).astype(int).head() #填充nan值，轉換為整型

0     1000
1    40000
2    11000
3    27000
4      131
Name: actor_1_facebook_likes, dtype: int64

In [61]:
movie2 = movie.set_index('movie_title')
movie2

,color,director_name,num_critic_for_reviews,duration,...,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
movie_title,,,,,,,,,
Avatar,Color,James Cameron,723.0,178.0,...,936.0,7.9,1.78,33000
Pirates of the Caribbean: At World's End,Color,Gore Verbinski,302.0,169.0,...,5000.0,7.1,2.35,0
Spectre,Color,Sam Mendes,602.0,148.0,...,393.0,6.8,2.35,85000
The Dark Knight Rises,Color,Christopher Nolan,813.0,164.0,...,23000.0,8.5,2.35,164000
...,...,...,...,...,...,...,...,...,...
The Following,Color,NaN,43.0,43.0,...,593.0,7.5,16.00,32000
A Plague So Pleasant,Color,Benjamin Roberds,13.0,76.0,...,0.0,6.3,NaN,16
Shanghai Calling,Color,Daniel Hsia,14.0,100.0,...,719.0,6.3,2.35,660
My Date with Drew,Color,Jon Gunn,43.0,90.0,...,23.0,6.6,1.85,456

In [64]:
movie['actor_director_facebook_likes'] = movie.actor_1_facebook_likes + movie.actor_2_facebook_likes + movie.actor_3_facebook_likes + movie.director_facebook_likes

In [65]:
movie.actor_director_facebook_likes.isnull().sum()

122

In [66]:
movie.actor_director_facebook_likes = movie.actor_director_facebook_likes.fillna(0)

In [68]:
movie['is_cast_like_more'] = (movie.cast_total_facebook_likes >= movie.actor_director_facebook_likes)
movie.is_cast_like_more.all()

False

In [70]:
movie = movie.drop('actor_director_facebook_likes', axis = 1)

In [72]:
movie['actor_total_facebook_likes'] = movie.actor_1_facebook_likes + movie.actor_2_facebook_likes + movie.actor_3_facebook_likes

In [73]:
movie.actor_total_facebook_likes = movie.actor_total_facebook_likes.fillna(0)

In [74]:
movie.is_cast_like_more = movie.cast_total_facebook_likes >= movie.actor_total_facebook_likes
movie.is_cast_like_more.all()

True

In [75]:
movie['pct_actor_cast_like'] = movie.actor_total_facebook_likes / movie.cast_total_facebook_likes

In [76]:
movie.pct_actor_cast_like.min(), movie.pct_actor_cast_like.max()

(0.0, 1.0)

In [77]:
movie.set_index('movie_title')['pct_actor_cast_like'].head()

movie_title
Avatar                                        0.577369
Pirates of the Caribbean: At World's End      0.951396
Spectre                                       0.987521
The Dark Knight Rises                         0.683783
Star Wars: Episode VII - The Force Awakens    0.000000
Name: pct_actor_cast_like, dtype: float64

##### 用insert方法插入

In [ ]:
profit_index = movie.columns.get_loc('gross') + 1
movie.insert(loc = profit_index, column = 'profit', value = movie.gross - movie.budget)

In [90]:
movie.loc[:,['movie_title', 'director_name', 'gross', 'budget', 'profit']]

,movie_title,director_name,gross,budget,profit
0,Avatar,James Cameron,760505847.0,237000000.0,523505847.0
1,Pirates of the Caribbean: At World's End,Gore Verbinski,309404152.0,300000000.0,9404152.0
2,Spectre,Sam Mendes,200074175.0,245000000.0,-44925825.0
3,The Dark Knight Rises,Christopher Nolan,448130642.0,250000000.0,198130642.0
...,...,...,...,...,...
4912,The Following,NaN,NaN,NaN,NaN
4913,A Plague So Pleasant,Benjamin Roberds,NaN,1400.0,NaN
4914,Shanghai Calling,Daniel Hsia,10443.0,NaN,NaN
4915,My Date with Drew,Jon Gunn,85222.0,1100.0,84122.0